/*
 * Variables
 */
// Width Screen
$mediumMobile: 23.438rem; // 375px

// Font Family
$fontStyle: 'Great Vibes', cursive;
$fontPrimary: 'Abhaya Libre', serif;

// Font Size
$fontSmall: 1rem; // 16px
$fontMediumSmall: 1.375rem; // 22px
$fontMedium: 2.375rem; // 38px

// Font Color
$fontBrown: #897862;
$fontBright: #C2B18C;

// Screen Size
$mobileSmall: 320px;
$mobileMedium: 375px;
$mobileLarge: 425px;
$tablet: 768px;
