@import './variables';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}